<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176959158559-das0eqlc0oshrpmd8ikc314lnqjjs7fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176959158559-das0eqlc0oshrpmd8ikc314lnqjjs7fm</string>
	<key>API_KEY</key>
	<string>AIzaSyBtJEyXKP1nWwzR9QJQKpsTO2qz5KHRLXg</string>
	<key>GCM_SENDER_ID</key>
	<string>176959158559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-94b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-94b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176959158559:ios:d74de9156ef4192029582a</string>
</dict>
</plist>